$font-stack: Arial, Helvetica, sans-serif;
$light-color: #fff;
$primary-color: #4c73e3;
$secondary-color: #88a4f5;
$inactive-color: #dee4f0;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: "Inter";
  line-height: 1.6;
}
// utility
.container {
  max-width: 1400px;
  height: 100%;
  border: 1px solid $inactive-color;
  margin: 0 30px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 350.5px 350.5px auto;
  gap: 20px;
}
.grid_sm {
  display: grid;
  grid-template-columns: 390.5px 390.5px;
  gap: 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 5px;
  span {
    width: 2rem;
    border: 1px solid $inactive-color;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
  }
}
.add {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.gap {
  display: grid;
  gap: 20px;
}
.section_wrapper {
  padding: 2.5rem 6.875rem;
}

%heading {
  font-family: "Open Sans";
  font-weight: 800;
}
.heading_main {
  @extend %heading;
  white-space: nowrap;
  font-size: 35px;
  line-height: 47.66px;
  color: $primary-color;
  margin-bottom: 1.875rem;
}
.heading_secondary {
  @extend %heading;
  font-weight: 600;
  white-space: nowrap;
  font-size: 16px;
  line-height: 19.36px;
  color: $primary-color;
  span {
    color: #787978;
  }
}
%step-border {
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: 21px;
  padding: 18px;
  width: 100%;
  // height: 100%;
}
.step-border_main {
  @extend %step-border;
  width: 802px;
}
.step-border_address {
  @extend %step-border;
  width: 390.5px;
  // height: 138px;
}
.step-border_add {
  @extend %step-border;
  width: 802px;
  border: 2px solid $inactive-color;
  margin: 2rem 0;
}
.step-border_sm {
  @extend %step-border;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  white-space: nowrap;
  margin-top: 20px;
  border-radius: 16px;
  color: $primary-color;
  padding: 18px 16px;
  width: 248px;
  height: 52px;
}

// navigation bar
.navbar {
  background-color: $primary-color;
  height: 4.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ellipse {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  background-color: $light-color;
  margin-left: 6.875rem;
}
.navbar_menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 44px;
  margin: 0;
  padding: 0;
  margin-right: 110px;
  width: 477px;
  height: 100%;
  font-size: 18px;
  list-style: none;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: $light-color;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.active-link {
  background-color: $secondary-color;
  display: inline;
  padding: 0 24px;
}

// form
.content {
  background-color: $primary-color;
  color: #fff;
  height: 600px;
}
.input__wrapper {
  display: grid;
  gap: 15px;
}
.input {
  font-family: "Inter";
  border: 1px solid $inactive-color;
  border-radius: 16px;
  display: grid;
  gap: 3px;
  padding: 5px 15px;
  margin: 5px 0;
  width: 350.5px;

  input {
    border: none;
  }
}
.date {
  color: #787978;
}

.counter {
  color: #787978;
  margin-bottom: 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  .counter__btn {
    background-color: $primary-color;
    color: $light-color;
    font-weight: 500;
    border-radius: 47px;
    padding: 5px;
    button {
      margin: 0 5px;
      color: $light-color;
      font-weight: 600;
      background-color: $primary-color;
      border: none;
    }
  }
}
.sm {
  height: 138px;
}

// button switch
.counter__btn-switch button {
  width: 50px;
  height: 30px;
  position: relative;
  background: #eee;
  border-radius: 47px;
  border: solid 1px #eee;
  outline: none;
  transition: background 0.4s;
  span {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 40px;
    transition: all 0.2s cubic-bezier(0, 0, 0.46, 1.82);
    transition: all 0.2s cubic-bezier(0.24, 1.74, 0.92, 0.85);
  }
}

.counter__btn-switch button:active span {
  width: 20px;
}

.counter__btn-switch button.on {
  background: #4c73e3;
  span {
    margin-left: -54px;
    left: 100%;
    margin-left: -44px;
  }
}

// contacts
.contacts-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  row-gap: 15px;
}

.consent {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  color: #4f4f55;
  font-weight: 300;
  font-size: 10px;
  line-height: 12.1px;
}

// buttons
%btn {
  border: 1px solid $primary-color;
  border-radius: 26px;
  width: 248px;
  height: 52px;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 15px;
  line-height: 18.15px;
}
.btn_submit {
  @extend %btn;
  background-color: $primary-color;
  color: $light-color;
}
.btn_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.btn_reset {
  @extend %btn;
  background-color: $light-color;
  color: $primary-color;
}
%add-btn {
  border: 1px solid $inactive-color;
  border-radius: 26px;
  padding: 0.7rem 1rem;
  background-color: #88a4f5;
  width: 8rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #000;
  font-size: 20px;
}

.add-btn_cancel {
  @extend %add-btn;
  background-color: $inactive-color;
}
.add-btn_submit {
  @extend %add-btn;
  background-color: $secondary-color;
}

.icon {
  width: 20px;
  height: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 30px;
  max-width: 472px;
  padding: 3rem;
}

.modal-header {
  white-space: nowrap;
  font-size: 35px;
  line-height: 47.66px;
  color: $primary-color;
  margin-bottom: 0;
}
.secondary-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14.52px;
  color: #7f7f82;
}
.bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 16.36px;
  color: #787978;
}
.divider {
  background-color: $primary-color;
  width: 361px;
  height: 3px;
}

.results {
  display: grid;
  gap: 10px;
  padding-top: 30px;
  margin-bottom: 30px;
}
